.dark-mode-toggle {
  display: relative;
  width: 100px;
  /* border: 1px solid red; */
}

.dark-mode-toggle input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.dark-mode-toggle .check {
  position: relative;
  display: block;
  width: 50px;
  height: 20px;
  background-color: var(--main-purple);
  cursor: pointer;
  border-radius: 20px;
  transition: ease-in 0.5s;
}

.dark-mode-toggle .check::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: ease-in 0.5s;
}

.dark-mode-toggle input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(30px);
}
