.add-new-board {
  width: 100%;
  color: var(--items-color);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.board-columns {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.new-board-name input {
  color: var(--color-foreground);
}

.add-new-board h2 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: normal;
  color: var(--color-foreground);
}

.add-new-board label {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.add-new-board button {
  width: 100%;
}

.add-column-button {
  background-color: var(--color-bg-add-column);
  color: var(--main-purple);
}

/* .add-column-button.add-column-button:hover {
  background-color: rgb(44, 40, 129);
} */
