.sidebar {
  height: 90%;
  width: 100%;
  color: var(--items-color);
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-left: var(--padding);
}

.sidebar__logo span {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: var(--color-foreground);
  font-size: 2rem;
}

.sidebar__menu .menu {
  min-height: 67vh;
  height: 100%;
  max-height: 70vh;
  overflow: scroll;
}
