.sidebar {
  height: 100%;
  width: 100%;
  color: var(--items-color);
}

.sidebar__logo {
  padding-left: var(--padding);
}

.sidebar__menu .menu {
  /* border: 1px solid yellow; */
  height: 620px;
  /* height: 70%; */
  /* max-height: 80%; */
  /* overflow: auto; */
}

.sidebar__hide {
  padding: var(--padding);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar__hide span {
  font-weight: 700;
  line-height: normal;
}
