.content {
  /* border: 1px solid red; */
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: var(--padding);
  /* border: 1px solid red; */
  background-color: var(--color-bg);
  overflow: scroll;
}
.column {
  /* border: 1px solid red; */
  width: 17.5rem;
  min-width: 17.5rem;
}

.column__title {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15rem;
  color: var(--items-color);
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.column__title-icon {
  margin-right: 0.5rem;
  width: 0.93rem;
  height: 0.93rem;
  border-radius: 50%;
  background: #49c4e5;
}
.column__content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.task {
  border-radius: 0.5rem;
  background: var(--color-background);
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  width: 17rem;
  height: 5.5rem;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.task:hover {
  background: var(--color-bg-add-column);
}

.task__title {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: var(--color-foreground);
  font-size: 1.1rem;
}

.subTasks {
  color: var(--items-color);
  font-size: 0.8rem;
  font-weight: 500;
  /* letter-spacing: 0.03rem; */
}

/* add column */
.add-column {
  margin-top: 2.3rem;
  border-radius: var(--border-radius);
  background: var(--color-bg-add-column);
  color: var(--items-color);
  /* border: 1px solid red; */
  min-width: 17.5rem;
  width: 17.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.add-column button {
  background: transparent;
  border: none;
  color: var(--items-color);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
