.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  /* background: var(--color-bg); */
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  border-bottom: var(--separator-border);
  /* border: 1px solid red; */
}

.nav__brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.nav__board-name {
  display: flex;
  align-items: center;
}
nav__board-name p {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--color-foreground);
  z-index: 100;
}

.nav__board-name__chevron {
  margin-left: 0.5rem;
}

.nav__settings {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  gap: 0.8rem;
}

.nav__settings-ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .nav__brand img,
  .nav__brand span {
    display: none;
  }
}
