.task {
  border-radius: 0.5rem;
  background: var(--color-background);
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  width: 17rem;
  min-height: 5.5rem;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.task:hover {
  transform: scale(1.05);
  transition: var(--transition);
}

.task__title {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  color: var(--color-foreground);
  font-size: 1.1rem;
}

.subTasks {
  color: var(--items-color);
  font-size: 0.8rem;
  font-weight: 500;
}

/* add column */
.add-column {
  margin-top: 2.3rem;
  border-radius: var(--border-radius);
  background: var(--color-bg-add-column);
  color: var(--items-color);
  min-width: 17.5rem;
  width: 17.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.add-column button {
  background: transparent;
  border: none;
  color: var(--items-color);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.task-settings-modal {
  background-color: transparent;
}

.task-settings-modal button {
  background-color: transparent;
  border: none;
  align-items: center;
  font-weight: 700;
  line-height: normal;
}
.task-settings-modal .modal-content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.task-settings-modal__edit {
  color: var(--items-color);
}
