.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  z-index: 9999;
}

.menu-modal {
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-content {
  margin: 0 auto;
  margin-top: 1rem;
  min-width: 90%;
  width: 80%;
  height: auto;
  background-color: var(--color-background);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: var(--padding);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
  overflow: scroll;
}

.menu-modal .modal-content {
  max-width: 200px;
  padding: 0 1rem 0 0;
}

@media screen and (min-width: 576px) {
  .modal-content {
    min-width: 50%;
    max-width: 25rem;
  }
}

@media screen and (min-width: 976px) {
  .modal-content {
    min-width: 25rem;
  }
}
.modal.settings-modal {
  justify-content: flex-end;
  align-items: flex-start;
  background-color: transparent;
}

.settings-modal .modal-content {
  margin-left: 84vw;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
  min-width: 200px;
  width: 200px;
}

.modal.task-settings-modal {
  bottom: 8rem;
  justify-content: flex-end;
  margin-left: 32vw;
}

.task-settings-modal .modal-content {
  min-width: 200px;
  width: 200px;
  gap: 0.8rem;
}

@media screen and (min-width: 976px) {
  .modal.task-settings-modal {
    margin-left: 26vw;
  }
}
