.task-details {
  /* border: 1px solid red; */
  color: var(--items-color);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.task-details h2 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: normal;
  color: var(--color-foreground);
}

.task-details__subtasks {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.subtask {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.25rem;
}
