* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  min-width: 320px;
  min-height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

body {
  width: 100%;
  min-height: 100vh;
  --color-background: #ffffff;
  --color-foreground: #000112;
  --color-bg: #f4f7fd;
  --color-bg-add-column: #e4ebfa;
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --danger-red: #ea5555;
  --danger-red-hover: #ff9898;
  --items-color: #828fa3;

  background-color: var(--color-background);
  color: var(--color-foreground);

  transition: ease-in 0.5s;
}

body.dark {
  --color-background: #000112;
  --color-foreground: #ffffff;
  --color-bg: #2b2c37;
  --color-bg-add-column: #20212c;
  /* box-shadow: 0 0 0 1200px var(--color-background); */
}
.dark-mode-toggle {
  display: relative;
  width: 100px;
  /* border: 1px solid red; */
}

.dark-mode-toggle input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.dark-mode-toggle .check {
  position: relative;
  display: block;
  width: 50px;
  height: 20px;
  background-color: var(--main-purple);
  cursor: pointer;
  border-radius: 20px;
  transition: ease-in 0.5s;
}

.dark-mode-toggle .check::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: ease-in 0.5s;
}

.dark-mode-toggle input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(30px);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #1f2023;
} */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #ffffff;
  }
} */

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-background);
  color: var(--color-foreground);
} */

/* body.dark {
  --color-background: #000112;
  --color-foreground: #ffffff;
} */
/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
