* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  min-width: 320px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  --color-background: #ffffff;
  --color-foreground: #000112;
  --color-bg: #f4f7fd;
  --color-bg-add-column: #e4ebfa;
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --danger-red: #ea5555;
  --danger-red-hover: #ff9898;
  --items-color: #828fa3;
  --padding: 1.5rem;

  background-color: var(--color-background);
  color: var(--color-foreground);
  --box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
  --border-radius: 0.5rem;
  --separator-border: 0.5px solid rgba(130, 143, 163, 0.3);

  /* transition: ease-in 0.5s; */
}

body.dark {
  --color-background: #2b2c37;
  --color-foreground: #ffffff;
  --color-bg: #20212c;
  --color-bg-add-column: #2b2c37;
}
.dark-mode-toggle {
  margin-top: auto;
  margin-left: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
  box-shadow: var(--box-shadow);
  gap: 1rem;
  height: 3rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
}

.dark-mode-toggle .light,
.dark-mode-toggle .dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.dark-mode-toggle label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-toggle input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.dark-mode-toggle .check {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  background-color: var(--main-purple);
  cursor: pointer;
  border-radius: 20px;
  transition: ease-in 0.5s;
}

.dark-mode-toggle .check::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  top: 0.2rem;
  left: 4px;
  border-radius: 50%;
  transition: ease-in 0.5s;
}

.dark-mode-toggle input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(28px);
  left: -0px;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #1f2023;
} */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #ffffff;
  }
} */

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--color-background);
  color: var(--color-foreground);
} */

/* body.dark {
  --color-background: #000112;
  --color-foreground: #ffffff;
} */
/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
