* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  min-width: 320px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  --color-background: #ffffff;
  --color-foreground: #000112;
  --color-bg: #f4f7fd;
  --color-bg-add-column: #e4ebfa;
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --danger-red: #ea5555;
  --danger-red-hover: #ff9898;
  --items-color: #828fa3;
  --padding: 1.5rem;

  --box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
  --border-radius: 0.5rem;
  --separator-border: 0.5px solid rgba(130, 143, 163, 0.3);
  --transition: all ease-in 0.5s;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body.dark {
  --color-background: #2b2c37;
  --color-foreground: #ffffff;
  --color-bg: #20212c;
  --color-bg-add-column: #ffffff;
}

.danger {
  color: var(--danger-red);
}

.danger:hover {
  color: var(--danger-red-hover);
}
.dark-mode-toggle {
  margin-top: auto;
  margin-left: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
  box-shadow: var(--box-shadow);
  gap: 1rem;
  height: 3rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
}

.dark-mode-toggle .light,
.dark-mode-toggle .dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.dark-mode-toggle label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-toggle input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.dark-mode-toggle .check {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  background-color: var(--main-purple);
  cursor: pointer;
  border-radius: 20px;
  transition: var(--transition);
}

.dark-mode-toggle .check::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  top: 0.2rem;
  left: 4px;
  border-radius: 50%;
  transition: var(--transition);
}

.dark-mode-toggle input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(28px);
  transition: var(--transition);
  left: -0px;
}
