.App {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  position: relative;
}

.sidebar-container {
  display: none;
  padding: var(--padding);
  padding-left: 0;
  color: var(--items-color);
  box-shadow: var(--box-shadow);
  z-index: 10;
  border-right: var(--separator-border);
}

.navbar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .sidebar-container {
    display: block;
    width: 50%;
  }

  .navbar-content {
    width: 50%;
  }
}

@media screen and (min-width: 976px) {
  .sidebar-container {
    width: 30%;
  }

  .navbar-content {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar-container {
    width: 25%;
  }

  .navbar-content {
    width: 75%;
  }
}

.hide-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  color: var(--items-color);
  margin-top: auto;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  border-radius: 0rem 6.25rem 6.25rem 0rem;
  padding-left: var(--padding);
  transition: var(--transition);
}

.hide-button:hover {
  background: var(--main-purple, #635fc7);
  color: #fff;
}

.hide-button span {
  font-weight: 700;
  line-height: normal;
}

.hide.sidebar-container {
  transition: var(--transition);
  display: none;
}

.hide.navbar-content {
  width: 100%;
}

.show-sidebar {
  position: absolute;
  bottom: 3.5rem;
}

@media screen and (max-width: 576px) {
  .show-sidebar {
    display: none;
  }
}
